<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Uploader</a>        
      <%#= button_to "log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary"%>
  </div>
</nav>
 -->

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">  <div class="container-fluid">
  <a class="navbar-brand" href="#">Navbar</a>        
      <%= button_to "log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary"%>
  </div>
</nav>