<!-- <h4>Home</h4>

<input type="file" accept="image/*" onchange="loadFile(event)">
<img id="output"/>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>

<div class="dropdown" style="display:inline-block;">
  <button class="btn btn-light">Create</button>
  <div class="dropdown-content">
    <a href="#">Folder</a>
    <a href="#">shared folder</a>
    <a href="#">Automated folder</a>
    <a href="#">Document</a>
  </div>
</div>
<br />
<h6>Suggested from your activity</h6>
<hr>

 <script>
      function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            
            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }
            
            reader.readAsDataURL(input.files[0]);
        }
    }
    
    $("#imgInp").change(function(){
        readURL(this);
    });
</script> -->