<div class="card my-1">
  <div class="card-body">
    <div class="form-group">
      <%= f.text_area :body, class: 'form-control' , placeholder: 'New Comments'%>
      </div>
      <br />
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
